:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --main-color: #212121;
  --secondary-color: #757575;
  --bg-color: #2f303a;
  --bg-color2: #f5f4fa;
  --bg-social-icon: rgba(255, 255, 255, 0.1);
  --bg-overlay: rgba(33, 150, 243, 0.9);
  --button-font: #f5f4fa;
  --portfolio-border-color: #eeeeee;
  --logo-black-color: #000000;
  --hero-text-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --section-padding: 94px;
  --header-border-color: #ececec;
  --clients-border-color: #afb1b8;
  --input-border-color: rgba(33, 33, 33, 0.2);
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* ==================COMPONENTS================== */
.menu-link.current {
  color: var(--accent-color);
}

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.icon {
  margin-right: 10px;
}

.third-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ==================END COMPONENTS================== */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.address {
  font-style: normal;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-black-color);
}

.part-of-logo {
  color: var(--accent-color);
}

/*============== HEADER =============*/
.header {
  border-bottom: 1px solid var(--header-border-color);
}

.menu {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.menu .logo {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.menu-list {
  display: flex;
}

.menu-list .menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.menu-link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  display: flex;
}

.contacts .contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  fill: var(--secondary-color);
  transition: color 250ms var(--transition-function),
    fill 250ms var(--transition-function);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.icon-envelope {
  display: flex;
  align-items: center;
  fill: var(--secondary-color);
}

.contacts-item:hover .icon,
.contacts-item:focus .icon {
  fill: currentColor;
}
/*============= END HEADER ===============/

/*================== HERO =============*/
.hero-bg-image {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-bg-image.jpg);
}

.hero-wrapper {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.hero-btn {
  min-width: 200px;
  padding: 10px 32px;
  border-width: 0;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
/*=============== END HERO ===============*/

/*================ ADVANTAGES =================*/
.advantages {
  padding-bottom: calc(var(--section-padding) / 2);
}

.advantages-lists {
  display: flex;
}

.advantages-item {
  width: calc((100%-90px) / 4);
}

.advantages-item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--button-font);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url('../images/advantages/antenna.svg');
}

.icon-clock::before {
  background-image: url('../images/advantages/clock.svg');
}

.icon-diagram::before {
  background-image: url('../images/advantages/diagram.svg');
}

.icon-astronaut::before {
  background-image: url('../images/advantages/astronaut.svg');
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.advantages-title {
  margin-bottom: 10px;
}

.description {
  min-height: 75px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/*============== END ADVANTAGES =============*/

/*============== OUR-JOBS ===============*/
.our-jobs {
  padding-top: calc(var(--section-padding) / 2);
}

.our-jobs-lists {
  display: flex;
  flex-wrap: wrap;
}

.our-jobs-item {
  position: relative;
}

.our-jobs-item .third-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 15px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-jobs-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
/*============== END OUR-JOBS ============*/

/*================== TEAM ================*/
.team {
  background-color: var(--bg-color2);
}

.secondary-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-lists {
  display: flex;
}

.team-item {
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-item-wrapper {
  padding: 30px 15px;
  background-color: var(--hero-text-color);
}

.team-description {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: var(--hero-text-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
}

.social-item {
  width: 44px;
  height: 44px;
}

.footer-social-links .social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bg-social-icon);
  border-radius: 50%;

  transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .icon-social {
  fill: var(--hero-text-color);
}

.social-link:hover {
  background-color: var(--accent-color);
}

/*============== END TEAM =============*/

/*============== CLIENTS =============*/
.clients-list {
  display: flex;
}

.clients-item {
  flex-basis: calc((100% - 150px) / 6);
  min-height: 90px;
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

.icon-client {
  fill: currentColor;
}

.clients-item:not(:nth-child(6n)) {
  margin-right: 30px;
}

.clients-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--clients-border-color);
  border-radius: 4px;
  color: var(--clients-border-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/*============== END CLIENTS ===============*/

/*============== FOOTER =================*/
.logo-light {
  color: var(--hero-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-contacts-link {
  display: block;
}

.footer-contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);

  transition: color 250ms var(--transition-function);
}

.footer-contacts-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .social-link {
  color: var(--hero-text-color);
}

.footer-wrapper {
  margin-right: 70px;
}

.footer-description {
  margin-bottom: 20px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.footer-form-wrapper {
  margin-left: auto;
}

.footer-form {
  display: flex;
  width: 570px;
  min-height: 50px;
}

.footer-form-input {
  width: 358px;
  height: 100%;

  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bg-color);
  color: var(--hero-text-color);

  transition: border-color 250ms var(--transition-function);
}

.footer-form-input::placeholder {
  color: var(--placeholder-color);
}

.footer-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-btn {
  display: flex;
  align-items: center;
  align-self: center;
  /* width: 200px;
  height: 50px; */
  padding: 10px 56px;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
}

.footer-form .form-btn {
  padding: 10px 29px;
  margin-left: 12px;
}

.icon-send {
  margin-left: 10px;
}

.form-description {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--hero-text-color);
}

/*============== END FOOTER ==============*/

/*============== MODAL ==============*/
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms var(--transition-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  padding: 40px;
  background-color: #fff;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--hero-text-color);
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*============== END MODAL ==============*/

/* =================PORTFOLIO-HEADER================= */
.portfolio-header {
  margin-bottom: 50px;
}
/* =================END PORTFOLIO-HEADER================= */

/* =================PORTFOLIO================= */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  min-width: 145px;
  padding: 6px 22px;
  border-width: 0;
  border-radius: 4px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  cursor: pointer;
  background-color: var(--button-font);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--accent-color);
  color: var(--hero-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-item-wrapper {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-color);
  border-top: none;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.post-address {
  color: var(--hero-text-color);
}

.portfolio-images-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--bg-overlay);
  color: var(--hero-text-color);

  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  transform: translateY(100%);
  /* overflow: scroll; */
  transition: transform 2500ms var(--transition-function);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

/* =================END PORTFOLIO================= */

/* ==============FORM=============== */
.form {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.form-text {
  margin-bottom: 12px;

  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-label {
  margin-bottom: 10px;
}

.form-desc {
  margin-bottom: 20px;
}

.form-input-desc {
  display: inline-flex;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.input-wrapper {
  position: relative;
  display: block;
}

.form-input {
  padding: 12px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;

  transition: border-color 250ms var(--transition-function);
}

.form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms var(--transition-function);
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  resize: none;

  transition: border-color 250ms var(--transition-function);
}

.form-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

textarea::placeholder {
  color: var(--placeholder-color);
}

.form-checkbox::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
}

.form-confirm:checked + .form-checkbox::before {
  background-color: var(--accent-color);
  background-image: url(../images/forms/icon-check.svg);
  background-position: center;
  border-color: var(--accent-color);
}

.form-confirm:focus + .form-checkbox::before {
  border-color: var(--accent-color);
}

.form-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.form-link,
.form-link:visited {
  color: var(--accent-color);
}
/* ============END FORM============= */
